.geral{
    display:flex;
    margin: 10px;
}

.indi{
    padding: 20px;
    background-color: white;
    border-radius: 4vh;
    margin: 20px;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}
